<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yl.kot">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".feature.splash.SplashActivity"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.home.HomeActivity"
            android:label="@string/home_title"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".feature.web.WebViewActivity" />
        <activity
            android:name=".feature.search.SearchActivity"
            android:label="@string/search_title" />
        <activity android:name=".feature.search.SearchDetailActivity" />
        <activity
            android:name=".feature.collection.CollectionListActivity"
            android:label="@string/collection_list_title" />
    </application>

</manifest>